Repository hmcts/civil-sdt-commissioning, pull requests merged in 2023-07, with the labels that each got.

#47 SDT-128: Convert sdt commissioning to annotation based config
  build.gradle
  config/owasp/suppressions.xml
  producers-commissioning/build.gradle
  producers-commissioning/src/end-to-end-test/java/uk/gov/moj/sdt/producers/comx/AbstractWebServiceTest.java
  producers-commissioning/src/end-to-end-test/java/uk/gov/moj/sdt/producers/comx/SubmitBulkTest.java
  producers-commissioning/src/end-to-end-test/java/uk/gov/moj/sdt/producers/comx/SubmitQueryTest.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/cache/MockErrorMessagesCache.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/cache/MockGlobalParametersCache.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/ProducersComxConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigAOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigBOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigBTwo.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigCOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceFive.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceFour.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceSix.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceThree.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceTwo.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/dao/MockBulkCustomerDao.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/dao/MockBulkSubmissionDao.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/dao/MockGenericDao.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/dao/MockIndividualRequestDao.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/dao/MockTargetApplicationDao.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/sdtws/SdtEndpointPortType.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/services/MockBulkFeedbackService.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/services/MockBulkSubmissionService.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/services/MockSubmitQueryService.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/services/MockUpdateRequestService.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/utils/MockSdtBulkReferenceGenerator.java
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/cache/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/dao/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/mbeans/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/sdtws/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-A00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-B00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-B00000002.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-C00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence1.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence2.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence3.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence4.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence5.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence6.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/utils/spring.context.xml
  producers-commissioning/src/unit-test/java/uk/gov/moj/sdt/producers/comx/cache/MockErrorMessagesCacheTest.java
  producers-commissioning/src/unit-test/java/uk/gov/moj/sdt/producers/comx/sdtws/SdtEndpointPortTypeTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-commissioning-pr-47

#48 SDT-129: Fix application start and Nullpointer exception
  build.gradle
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigAOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigBOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigBTwo.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/BulkFeedbackConfigCOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceOne.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/SubmitQueryConfigMcolDefenceThree.java
  src/main/java/uk/gov/hmcts/reform/sdt/Application.java
  src/main/java/uk/gov/moj/sdt/interceptors/service/PersistServiceRequestImpl.java
  src/smokeTest/resources/application-smoke-test.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-commissioning-pr-48

#49 Add JVM debug settings
  docker-compose.yml
Labels: ns:civil, prd:civil, rel:civil-sdt-commissioning-pr-49
